<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.holoeverywhere.issues">

    <uses-sdk android:minSdkVersion="8" />

    <permission
        android:name="org.holoeverywhere.issues.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.holoeverywhere.issues.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="org.holoeverywhere.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Holo.Theme.Light.DarkActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i511.MainActivity"
            android:label="Issue #511">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i569.MainActivity"
            android:label="Issue #569">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i605.MainActivity"
            android:label="Issue #605">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i619.MainActivity"
            android:label="Issue #619">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i625.MainActivity"
            android:label="Issue #625">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i632.MainActivity"
            android:label="Issue #632">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i641.MainActivity"
            android:label="Issue #641">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i653.MainActivity"
            android:label="Issue #653">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i655.MainActivity"
            android:label="Issue #655">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i681.MainActivity"
            android:label="Issue #681">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i682.MainActivity"
            android:label="Issue #682">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i695.MainActivity"
            android:label="Issue #695">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/i695_searchable" />
        </activity>

        <activity
            android:name=".i701.MainActivity"
            android:label="Issue #701">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i720.MainActivity"
            android:label="Issue #720">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".i723.MainActivity"
            android:label="Issue #723">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="org.holoeverywhere.category.ISSUE_LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".i695.SuggestionProvider"
            android:authorities="org.holoeverywhere.issues.i695.SuggestionProvider" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCE7ryckjuvXRIW5H0mZr2S7b1x9OReInM" />
    </application>
</manifest>
