<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.holoeverywhere.demo"
	android:installLocation="auto"
	android:versionCode="1005000"
	android:versionName="1.5.0" >
	<uses-sdk
		android:minSdkVersion="7"
		android:targetSdkVersion="16" />
	<instrumentation
		android:name=".test.TestRunner"
		android:label="HoloEverywhere Test"
		android:targetPackage="org.holoeverywhere.demo" />
	<application
		android:name=".DemoApplication"
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:icon="@drawable/icon"
		android:label="@string/app_name" >
		<activity
			android:name=".DemoActivity"
			android:launchMode="singleInstance"
			android:windowSoftInputMode="stateHidden" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".DemoDialogActivity" />
		<uses-library
			android:name="android.test.runner"
			android:required="false" />
		<activity
			android:name=".test.app.TestActivity"
			android:theme="@style/Holo.Theme" />
		<activity
			android:name="org.holoeverywhere.ChooserActivity"
			android:excludeFromRecents="true"
			android:finishOnCloseSystemDialogs="true"
			android:multiprocess="true"
			android:theme="@style/Holo.Theme.Dialog.Alert.Light" />
	</application>
</manifest>