<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.WazaBe.HoloDemo"
    android:versionCode="2"
    android:versionName="Alpha2" >

    <uses-sdk
        android:minSdkVersion="1"
        android:targetSdkVersion="11" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!--
        Light Theme:  
        android:theme="@style/Theme.HoloEverywhereLight"
        -->
        <!--
        ActionBarSherlock Dark:
        android:theme="@style/Theme.HoloEverywhereDark.Sherlock"
        -->
        <!--
        ActionBarSherlock Light:
        android:theme="@style/Theme.HoloEverywhereLight.Sherlock"
        -->

        <activity
            android:name=".HoloDemoActivity"
            android:theme="@style/Theme.HoloEverywhereDark"
            android:label="@string/app_name"
            android:enabled="@bool/displaySimpleActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionBarHoloDemoActivity"
            android:theme="@style/Theme.HoloEverywhereDark.Sherlock"
            android:label="@string/app_name"
            android:enabled="@bool/displayActionBarActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>