<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.WazaBe.HoloDemo"
	android:versionCode="10"
	android:versionName="1.2.1" >
	<uses-sdk
		android:minSdkVersion="4"
		android:targetSdkVersion="16" />
	<application
		android:hardwareAccelerated="true"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:theme="@style/Holo.Theme.Sherlock" >
		<activity
			android:name=".HoloDemoActivity"
			android:enabled="@bool/displaySimpleActivity"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ActionBarHoloDemoActivity"
			android:enabled="@bool/displayActionBarActivity"
			android:label="@string/app_name"
			android:windowSoftInputMode="stateHidden" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".ActionBarHoloPreferenceActivity"
			android:label="Preferences" />
		<activity
			android:name=".HoloPreferenceActivity"
			android:label="Preferences" />
	</application>
</manifest>